---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Clipboard text copy website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Copy That | NRE</title>

		<link
		rel="icon"
		href="https://cdn.nicolasrenault.com/logo/NR_logo_light_96x96.ico"
		media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			href="https://cdn.nicolasrenault.com/logo/NR_logo_dark_96x96.ico"
			media="(prefers-color-scheme: dark)"
		/>
	</head>
	<body>
		<main>
			<h1>Copy that</h1>
			<div id="copy-container">
				<p>Here is your text:</p>
				<strong id="copied-text"></strong>
				<button id="copy-button">Copy</button>
			</div>
			<p class="instructions">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis culpa ad repellat, similique nostrum recusandae quisquam, facilis vitae iste quo eius saepe sapiente minima expedita repellendus exercitationem, doloribus eligendi voluptate.
			<!-- About + Github links -->
			</p>
			
		</main>
	</body>
</html>

<style>
	@font-face {
		font-family: Poppins;
		src: url("/fonts/Poppins-Regular.ttf");
		font-weight: 400;
		font-style: normal;
	}

	html {
		font-family: Poppins, sans-serif;
		background-color: #f6eee3;
		color: #333;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>

<script>
	const url = new URL(window.location.href);
	const value = url.searchParams.get("text");
	const copiedTextElement = document.getElementById("copied-text");
	const copyButton = document.getElementById("copy-button");

	if (value) {
		try {
			navigator.clipboard.writeText(value);
		} catch (error) {
			//TODO Handling
		}
		
		if (copiedTextElement) copiedTextElement.textContent = value;
	} else {
		alert("No text to copy");
		//TODO Handling
	}

	if (copyButton) {
		copyButton.addEventListener("click", () => {
			if (value) {
				try {
					navigator.clipboard.writeText(value);
				} catch (error) {
					//TODO Handling
				}
			}
		});
	}
</script>
