---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Clipboard text copy website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Copy That | NRE</title>

		<link
		rel="icon"
		href="https://cdn.nicolasrenault.com/logo/NR_logo_light_96x96.ico"
		media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			href="https://cdn.nicolasrenault.com/logo/NR_logo_dark_96x96.ico"
			media="(prefers-color-scheme: dark)"
		/>

		<script defer src="https://cdn.nicolasrenault.com/logo/NR_Logo.js"></script>
	</head>
	<body>
		<noscript>
			<h1>Enable JavaScript</h1>
			<p>This website requires JavaScript to work properly. Please enable it in your browser settings.</p>
		</noscript>
		<main>
			<h1>Copy that</h1>
			<div id="copy-container">
				<p>Here is your text:</p>
				<strong id="copied-text"></strong>
				<button id="copy-button">Copy</button>
			</div>
			<div id="instructions">
				<p><strong>Copy That</strong> is a simple website to copy text to your clipboard from a URL. It can be used to share text on software that cannot access the clipboard directly but can open links.</p>
				<p>This website <strong>DO NOT</strong> store any data. It simply reads the text from the URL and pastes it on your clipboard.</p>
				<p>
					<span>Source code is available on <a href="https://github.com/NicolasRenault/copy-that" target="_blank" rel="noopener">GitHub</a>.</span><br />
					<span>The project is under the <a href="https://github.com/NicolasRenault/copy-that/blob/main/LICENSE" target="_blank" rel="noopener">MIT licence</a>.</span><br />
					<span>Project by <a href="https://nicolasrenault.com" target="_blank" rel="noopener">Nicolas Renault</a>.</span>
				</p>
				<div id="documentation">
					<p>How to use:</p>
					<p>Simply add your text to the URL as a query parameter:</p>
					<p>Example: <code>https://copy-that.nicolasrenault.com/?text=Your text here</code></p>
					<p>You can also use the <code>/autoclose</code> page to close the browser page automatically</p>
					<p>Example: <code>https://copy-that.nicolasrenault.com/autoclose/?text=Your text here</code></p>
				</div>
			</div>
		</main>
		<footer>
			<nr-logo link color="rgb(51, 51, 51)" size="lg"></nr-logo>
		</footer>
	</body>
</html>

<style>
	@font-face {
		font-family: Poppins;
		src: url("/fonts/Poppins-Regular.ttf");
		font-weight: 400;
		font-style: normal;
	}

	html {
		font-family: Poppins, sans-serif;
		--accent-light: 51, 51, 51;
		--background-color: 246, 238, 227;
		background: rgb(var(--background-color));
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	#copy-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
		padding-bottom: 15%;
		border-bottom: 1px solid rgba(var(--accent-light), 25%);
	}
	#copied-text {
		font-size: 1.5rem;
		font-weight: 700;
		margin: 1rem 0;
		padding: 1rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		border-radius: 8px;
	}
	#copy-button {
		background: rgba(var(--accent-light), 30%);
		color: rgb(var(--accent-light));
		border: none;
		border-radius: 8px;
		padding: 0.5rem 1rem;
		font-size: 1.2rem;
		cursor: pointer;
	}
	#copy-button:hover {
		background: rgba(var(--accent-light), 40%);
		transform: translateY(-2px);
	}
	#copy-button:active {
		background: rgba(var(--accent-light), 50%);
		transform: translateY(0);
	}

	#instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	#instructions p:last-child {
		margin-bottom: 0;
	}
	#instructions a {
		color: rgb(var(--accent-light));
	}

	#documentation {
		margin-top: 2rem;
		border-top: 1px solid rgba(var(--accent-light), 25%);
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	footer {
		display: flex;
		justify-content: center;
		margin: 7rem 0 2rem 0;
	}
</style>

<script>
	const url = new URL(window.location.href);
	const value = url.searchParams.get("text");
	const copiedTextElement = document.getElementById("copied-text");
	const copyButton = document.getElementById("copy-button");

	if (value) {
		try {
			navigator.clipboard.writeText(value);
		} catch (error) {
			alert("Error copying text to clipboard:");
			//TODO Handling

		}
		
		if (copiedTextElement) copiedTextElement.textContent = value;
	} else {
		alert("No text to copy");
		//TODO Handling
	}

	if (copyButton) {
		copyButton.addEventListener("click", () => {
			if (value) {
				try {
					navigator.clipboard.writeText(value);
				} catch (error) {
					//TODO Handling
				}
			}
		});
	}
</script>
